header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  img {
    max-width: 100px;
  }
  